# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (only ignore if not using Go Modules)
# vendor/

# Go workspace file (intended for local development redirects)
go.work
go.work.sum

# Local environment variables
.env

# Editor/IDE specific files
.idea/
.vscode/
*.swp
